@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    font-family: 'Poiret One', cursive;
    overflow-x: hidden;
}

/* banner */
.banner {
    padding-left: 0;
    padding-right: 0;
}

.banner img {
    display: block;
    position: relative;
    opacity: .85;
    height: auto;
    overflow: auto;
    width: 100%;
    min-width: 1500px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
}

.banner-text {
    background-color: white;
    position: absolute;
    display: block;
    margin-top: -22%;
    left: 0;
    right: 0;
    opacity: .8;
    padding-top: .8em;
    padding-bottom: .5em;
    transition: ease-in-out 300ms;
    z-index: 0;
}

.banner-text-hide {
    z-index: -1;
}

.banner-text h1 {
    color: black;
    font-size: 3vw;
    opacity: 1;
    font-weight: bold;
    text-align: center;
    transition: ease-in-out 250ms;
}

.banner-text:hover {
    opacity: .9;
    transition: ease-in-out 300ms;
}

.banner-text h1:hover {
    font-size: 3.5vw;
    transition: ease-in-out 250ms;
}

@media only screen and (max-width: 700px) {
    .banner img {
        content: url("ImageAssets/FoodBannerSmall.png");
        min-width: 700px;
    }

    .banner-text {
        margin-top: -200px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 700px){
    .banner img {
        content: url("ImageAssets/FoodBannerSmall.png");
        min-width: 700px;
    }

    .banner-text {
        margin-top: -29%;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 991px) {
    .banner-text {
        margin-top: -285px;
    }
}


/* navbar */
.burger {
    display: none;
    cursor: pointer;
    z-index: 2;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: ease-in-out 250ms;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    background-color: white;
    left: 0;
    right: 0;
    border-top: 5px double #d60629;
    border-bottom: 5px double #d60629;
}

.nav-logo {
    z-index: 2;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-size: 24px;
    list-style: none;
    direction: none;
    padding-top: 2vh;
    z-index: 2;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: #d60629;
}

.nav-links a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: #d60629;
    width: 0%;
    z-index: 1;
    transition: ease-in-out 250ms;
}

.nav-links a:hover::before{
    width: 100%;
    transition: ease-in-out 250ms;
}

.navbar-fixed {
    border-top: 5px double #d60629;
    border-bottom: 5px double #d60629;
    position: absolute;
    z-index: 1;
    height: 20vh;
    width: 100%;
    transform: translateY(0%);
    background-color: white;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* index.html content */
.main {
    padding-left: 15%;
    padding-right: 15%;
}

.main img {
    height: auto;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

#main-img-1 {
    margin-left: 0;
}

#main-img-2 {
    margin-right: 0;
}

.main h1 {
    font-weight: bold;
    font-size: 4.5vw;
}

.main h3 {
    font-size: 2.25vw;
}

.main-text {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    padding-bottom: 5vh;
}

.divider {
    height: 15vw;
}

.divider-img {
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7vh;
}

/* screen medias */
@media only screen and (max-width: 750px) {
    /* navbar */
    .nav-links {
        border-bottom: 5px double #d60629;
        position: absolute;
        padding-top: 0;
        right: 0px;
        height: 40vh;
        top: 20vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        transform: translateY(-150%);
        transition: ease-in-out 300ms;
        z-index: 1;
    }

    .nav-links li{
        opacity: 0;
    }

    .nav-active {
        transform: translateY(0%);
        transition: ease-in-out 500ms;
    }

    .burger {
        display: block;
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
        transition: ease-in-out 250ms;
    }

    .toggle .line2{
        opacity: 0;
        transition: ease-in-out 250ms;
    }

    .toggle .line3{
        transform: rotate(+45deg) translate(-5px,-6px);
        transition: ease-in-out 250ms;
    }

    /* index.html content */
    .main h1 {
        font-weight: bold;
        font-size: 28px;
    }

    .main h3 {
        font-size: 20px;
    }

    #mygoal {
        order: -1;
    }

    .heading {
        padding-top: 10vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .heading h1 {
        font-weight: bold;
        font-size: 30px;
    }

    .blog-posts {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .blog-post {
        padding-top: 8vh;
        padding-bottom: 8vh;
    }

    .blog-post h1 {
        font-weight: bold;
        font-size: 30px;
    }

    .blog-post h4 {
        font-size: 20px;
    }

    .blog-post p {
        font-size: 20px;
    }

    .recipe-section a {
        font-size: 3.5vw;
    }
}

@media only screen and (min-width: 750px) {

    .heading {
        padding-top: 10vh;
        padding-left: 20vw;
        padding-right: 20vw;
    }

    .heading h1 {
        font-weight: bold;
    }

    .blog-posts {
        padding-left: 20vw;
        padding-right: 20vw;
    }

    .blog-post {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .blog-post h1 {
        font-weight: bold;
    }

    .blog-post h4 {
        font-size: 26px;
    }

    .blog-post p {
        font-size: 24px;
    }

    .recipe-section a {
        font-size: 2vw;
    }
}

.recipe-section {
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vh;
}

.recipe-section img {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: .5s ease;
    display: block;
}

.blog-post img {
    width: 100%;
    height: auto;
}

.recipe-container:hover img{
    opacity: .5;
    transition: .5s ease;
}

.recipe-section a {
    color: white;
    background-color: #ff3352;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: .5s ease;
    opacity: 0;
    text-align: center;
    top: 35%;
    left: 50%;
    text-decoration: none;
    width: 40%;
    height: 20%;
    padding-top: 3%;
}

.recipe-container:hover a{
    opacity: .9;
    transition: .5s ease;
}

.recipe-container a:hover {
    background-color: white;
    color: black;
}

.subscribe {
    border: 2px solid darkgray;
    color: white;
    background-color: #ff3352;
}

.subscribe:hover {
    background-color: #db0b2b;
}



footer {
    text-align: center;
    height: 30vh;
}

footer p {
    padding-top: 5vh;
    font-size: 14px;
}
