@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    font-family: 'Poiret One', cursive;
}

.banner {
    margin-top: 15vh;
    padding-left: 0;
    padding-right: 0;
}

.banner img {
    display: block;
    position: relative;
    opacity: .85;
    height: auto;
    overflow: auto;
    width: 100%;
    min-width: 1500px;
    left: 50%;
    transform: translate(-50%, 0);
}

.banner-text {
    background-color: white;
    position: absolute;
    display: block;
    margin-top: -22%;
    left: 0;
    right: 0;
    opacity: .8;
    padding-top: .8em;
    padding-bottom: .5em;
    transition: ease-in-out 300ms;
}

.banner-text h1 {
    color: black;
    font-size: 3vw;
    opacity: 1;
    font-weight: bold;
    text-align: center;
    transition: ease-in-out 250ms;
}

.banner-text:hover {
    opacity: .9;
    transition: ease-in-out 300ms;
}

.banner-text h1:hover {
    font-size: 3.5vw;
    transition: ease-in-out 250ms;
}

@media only screen and (max-width: 700px) {
    .banner img {
        content: url("ImageAssets/FoodBannerSmall.png");
        min-width: 700px;
    }

    .banner-text {
        margin-top: -200px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 700px){
    .banner img {
        content: url("ImageAssets/FoodBannerSmall.png");
        min-width: 700px;
    }

    .banner-text {
        margin-top: -29%;
    }
}

@media only screen and (max-width: 1500px) and (min-width: 991px) {
    .banner-text {
        margin-top: -285px;
    }
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: #ff9cae;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-size: 24px;
    list-style: none;
    direction: none;
    padding-top: 2vh;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: #690316;
}

.nav-links a::before {
    content: '';
    display: block;
    height: 3px;
    background-color: #690316;
    width: 0%;

    transition: ease-in-out 250ms;
}

.nav-links a:hover::before{
    width: 100%;
    transition: ease-in-out 250ms;
}


@media (max-width: 700px) {
    .nav-links {
        display: none;
    }
}
